asgiref
Django
djangorestframework
Pillow
pytz
sqlparse
psycopg2-binary
redis
celery
channels-redis
requests
pyfcm
django-cors-headers
daphne
djangorestframework-simplejwt
gunicorn
ffmpeg-python
librosa
faker
django-storages[boto3]
django-redis

#numpy scipy pydub audioread matplotlib librosa
#librosa numba xxhash